In [15]:
import psycopg2

**Loads the sql extension**

In [16]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

**Creating connection to postgres database 'dvdrental'**

In [17]:
%sql postgresql://postgres:786420@localhost/dvdrental

### **1. SELECT *(columns to view)*  &  FROM *(table they live in).***

**Viewing every column *(using *)***

In [18]:
%%sql

SELECT * FROM inventory

 * postgresql://postgres:***@localhost/dvdrental
(psycopg2.errors.UndefinedTable) relation "inventory" does not exist
LINE 1: SELECT * FROM inventory
                      ^

[SQL: SELECT * FROM inventory]
(Background on this error at: https://sqlalche.me/e/14/f405)

**Viewing specific columns *inventory_id* & *last_update***

In [5]:
%%sql

SELECT inventory_id,
        last_update
    FROM inventory

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

> ***If column name consists of SPACES then write it in ""***

**Renaming columns**

In [6]:
%%sql

SELECT inventory_id AS "Inventory Id",
        last_update AS "Last Update"
    FROM inventory

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

### 2. LIMIT

**Shows top n rows**

In [7]:
%%sql

SELECT inventory_id AS "Inventory Id",
        last_update AS "Last Update"
    FROM inventory
LIMIT 10

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

### 3. WHERE

**Viewing only those rows which satisfy *WHERE* condition**

In [8]:
%%sql

SELECT *
  FROM inventory 
WHERE film_id = 1

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

### 4. Comparison Operators
- **=**
- **<> *or* !=**
- **>**
- **<**
- **>=**
- **<=**

> **rating='R'** *R shoul be in single/double quotes *

**Conditional operators on non-numerical column**
- **var \> 'J'** yields rows where var starts with 'J' or later

In [9]:
%%sql

SELECT * FROM film WHERE rating='R' LIMIT 10

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

### 5. Arithmetic Operators*(can be performed only across the columns on values in a given row)*
- **+**
- **-**
- **\***
- **/**

In [10]:
%%sql

SELECT * FROM payment LIMIT 10

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

**Arithmetically Derived Column**

In [11]:
%%sql

SELECT customer_id,
    staff_id,
    rental_id,
    staff_id * rental_id AS non_sense
FROM payment
LIMIT 10

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

### 6. Logical Operators
- **LIKE** *(allows to match on similar values rather than exact ones)*
- **IN** *(allows to specify a list of values that to be included in the results)*
- **BETWEEN**
- **IS NULL**
- **AND**
- **OR**
- **NOT**

**LIKE**

In [12]:
%%sql

SELECT * FROM film WHERE "rating"::text LIKE 'PG-%' LIMIT 5

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [13]:
%%sql

SELECT * FROM film WHERE "rating"::varchar LIKE 'PG%' LIMIT 10

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

**IN***()

In [14]:
%%sql

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])