**Loads the sql extension**

In [11]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

**Creating connection to postgres database 'dvdrental'**

In [12]:
%sql postgresql://postgres:786420@localhost/dvdrental

### **1. SELECT *(columns to view)*  &  FROM *(table they live in).***

**Viewing all column *(using *)***

In [22]:
%%sql

SELECT * FROM inventory   # SQL CODE

 * postgresql://postgres:***@localhost/dvdrental
4581 rows affected.

[(1, 1, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (2, 1, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (3, 1, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (4, 1, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (5, 1, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (6, 1, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (7, 1, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (8, 1, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (9, 2, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (10, 2, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (11, 2, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (12, 3, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (13, 3, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (14, 3, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (15, 3, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (16, 4, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (17, 4, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (18, 4, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (19, 4, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (20, 4, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (21, 4, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (22, 4, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (23, 5, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (24, 5, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (25, 5, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (26, 6, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (27, 6, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (28, 6, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (29, 6, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (30, 6, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (31, 6, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (32, 7, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (33, 7, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (34, 7, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (35, 7, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (36, 7, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (37, 8, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (38, 8, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (39, 8, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (40, 8, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (41, 9, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (42, 9, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (43, 9, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (44, 9, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (45, 9, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (46, 10, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (47, 10, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (48, 10, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (49, 10, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (50, 10, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (51, 10, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (52, 10, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (53, 11, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (54, 11, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (55, 11, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (56, 11, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (57, 11, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (58, 11, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (59, 11, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (60, 12, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (61, 12, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (62, 12, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (63, 12, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (64, 12, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (65, 12, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (66, 12, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (67, 13, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (68, 13, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (69, 13, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (70, 13, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (71, 15, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (72, 15, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (73, 15, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (74, 15, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (75, 15, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (76, 15, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (77, 16, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (78, 16, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (79, 16, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (80, 16, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (81, 17, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (82, 17, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (83, 17, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (84, 17, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (85, 17, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (86, 17, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (87, 18, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (88, 18, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (89, 18, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (90, 18, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (91, 18, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (92, 18, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (93, 19, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (94, 19, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (95, 19, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (96, 19, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (97, 19, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (98, 19, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (99, 20, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (100, 20, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (101, 20, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (102, 21, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (103, 21, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (104, 21, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (105, 21, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (106, 21, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (107, 21, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (108, 22, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (109, 22, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (110, 22, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (111, 22, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (112, 22, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (113, 22, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (114, 22, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (115, 23, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (116, 23, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (117, 23, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (118, 23, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (119, 23, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (120, 24, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (121, 24, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (122, 24, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (123, 24, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (124, 25, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (125, 25, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (126, 25, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (127, 25, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (128, 25, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (129, 25, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (130, 26, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (131, 26, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (132, 26, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (133, 26, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (134, 26, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (135, 27, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (136, 27, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (137, 27, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (138, 27, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (139, 28, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (140, 28, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (141, 28, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (142, 29, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (143, 29, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (144, 30, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (145, 30, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (146, 31, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (147, 31, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (148, 31, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (149, 31, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (150, 31, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (151, 31, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (152, 31, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (153, 31, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (154, 32, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (155, 32, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (156, 34, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (157, 34, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (158, 34, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (159, 34, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (160, 35, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (161, 35, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (162, 35, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (163, 35, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (164, 35, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (165, 35, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (166, 35, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (167, 37, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (168, 37, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (169, 37, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (170, 37, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (171, 37, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (172, 37, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (173, 37, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (174, 39, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (175, 39, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (176, 39, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (177, 39, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (178, 39, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (179, 39, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (180, 39, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (181, 40, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (182, 40, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (183, 40, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (184, 40, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (185, 42, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (186, 42, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (187, 42, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (188, 42, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (189, 43, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (190, 43, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (191, 43, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (192, 43, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (193, 43, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (194, 43, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (195, 43, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (196, 44, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (197, 44, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (198, 44, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (199, 44, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (200, 44, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (201, 45, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (202, 45, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (203, 45, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (204, 45, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (205, 45, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (206, 45, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (207, 46, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (208, 46, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (209, 46, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (210, 47, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (211, 47, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (212, 48, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (213, 48, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (214, 48, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (215, 48, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (216, 49, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (217, 49, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (218, 49, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (219, 49, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (220, 49, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (221, 49, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (222, 50, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (223, 50, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (224, 50, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (225, 50, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (226, 50, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (227, 51, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (228, 51, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (229, 51, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (230, 51, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (231, 51, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (232, 51, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (233, 52, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (234, 52, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (235, 53, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (236, 53, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (237, 54, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (238, 54, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (239, 54, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (240, 54, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (241, 54, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (242, 55, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (243, 55, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (244, 55, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (245, 55, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (246, 55, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (247, 55, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (248, 56, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (249, 56, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (250, 56, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (251, 56, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (252, 56, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (253, 57, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (254, 57, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (255, 57, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (256, 57, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (257, 57, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (258, 57, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (259, 57, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (260, 58, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (261, 58, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (262, 58, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (263, 58, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (264, 59, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (265, 59, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (266, 59, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (267, 59, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (268, 59, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (269, 60, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (270, 60, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (271, 60, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (272, 61, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (273, 61, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (274, 61, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (275, 61, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (276, 61, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (277, 61, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (278, 62, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (279, 62, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (280, 63, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (281, 63, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (282, 63, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (283, 63, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (284, 64, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (285, 64, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (286, 64, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (287, 65, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (288, 65, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (289, 65, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (290, 65, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (291, 66, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (292, 66, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (293, 66, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (294, 67, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (295, 67, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (296, 67, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (297, 67, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (298, 67, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (299, 67, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (300, 68, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (301, 68, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (302, 68, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (303, 68, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (304, 69, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (305, 69, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (306, 69, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (307, 69, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (308, 69, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (309, 69, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (310, 69, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (311, 69, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (312, 70, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (313, 70, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (314, 70, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (315, 70, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (316, 71, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (317, 71, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (318, 71, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (319, 71, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (320, 72, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (321, 72, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (322, 72, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (323, 72, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (324, 72, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (325, 72, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (326, 73, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (327, 73, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (328, 73, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (329, 73, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (330, 73, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (331, 73, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (332, 73, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (333, 73, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (334, 74, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (335, 74, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (336, 74, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (337, 74, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (338, 74, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (339, 75, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (340, 75, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (341, 75, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (342, 76, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (343, 76, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (344, 76, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (345, 77, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (346, 77, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (347, 77, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),

**Viewing couple of columns**